*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}
.form{
    margin: 200px auto auto auto;
    justify-content: center;
    display: flex;
}
.form button{
    margin-left: 20px;
}